/* GLOBAL STYLES
-------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-image: url(../imgs/fondo.png);
  
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position:center;
  font-weight: bold;  
        margin: 2;
        padding: 2;
        border: 2;
}

.skip-to-content {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: -1;
  padding-inline: 1.75ch;
  padding-block: .75ch;
  border-radius: .5ch;
  background: var(--accent-color);
  color: white;
  font-weight: bold;
  opacity: 0;
}

.skip-to-content:focus-visible {
  outline-color: var(--accent-color, #7044e8);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 3px;
  opacity: 1;
  z-index: 999;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
}

.grande {
  font-size: 50px;
  font-weight: bold;
}

.txgrande {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.txtcontent {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.contenedor{
    position: absolute;
    display: inline-block;
    text-align: left;
    right: 10px;
}
.texto-mapa{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #5a5a5a;
    display: flex;
}

.titulos-dest{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #5a5a5a;
}

.texto-dest{
  font-size: 15px;
}


.contenido{

  margin-top: 10px;
  margin-right: 90px;
  margin-bottom: 10px;
  margin-left: 90px;
  text-align: justify;
    
    
}

/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
