/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-image: url(../imgs/fondo.png);
  
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position:center;
  font-weight: bold;  
        margin: 2;
        padding: 2;
        border: 2;
}

img {
    max-width: 100%;
}

.grande {
  font-size: 50px;
  font-weight: bold;
}

.txgrande {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.txtcontent {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.contenedor{
    position: absolute;
    display: inline-block;
    text-align: left;
    right: 10px;
}
.texto-mapa{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #5a5a5a;
    display: flex;
}

.titulos-dest{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #5a5a5a;
}

.texto-dest{
  font-size: 15px;
}


.contenido{

  margin-top: 10px;
  margin-right: 90px;
  margin-bottom: 10px;
  margin-left: 90px;
  text-align: justify;
    
    
}

/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
